/*IE compatibility stylesheet*/
html{
    padding:0;
    margin: 0;
}

body{
    background-color: #F3F7F8;
    color: #2C3E50;
}

header{
    position: fixed;
    background-color: #21C2F8; 
    border-bottom: 3px solid #BDC3C7;
    display: block;
    top: 0;
    left: 0;
    width: 80%;
}

#brand{
    color: #F3F7F8;  
    text-shadow: 2px 2px 5px #202020;
    width: auto;
    display: block;
    padding: 1rem 0 0 0.5rem;
}

#top-nav{
    display: block;
}
#top-nav li a{
    color: #F3F7F8;
    text-shadow: 1px 1px 2px #202020;
}

#top-nav li a:hover{
    text-shadow: 0 0 5px #BDC3C7;
}

.top-nav-active:after{
    border-bottom: 0.2rem solid #F3F7F8;
}

#hamburger-menu{
    display: none;
}

#off-canvas-nav{
    display: none;
}

#about{
    background-color: #202020; 
    color: #F3F7F8;
    box-shadow: 0 0.2rem 0.1rem #202020;
    position: relative;
    top: 4rem;
    padding-top: 1rem;
}

#headshot-img{
    box-shadow: 0 0 0.1rem 0.2rem #BDC3C7;
}

#blinking-cursor{
    background: #BDC3C7;
}

#image-laptop{
    min-height: 50rem;
    background-attachment: local;
}

.overlay-1:after{
    background-color: #21C2F8;
}
.overlay-2:after{
    background-color: #21C2F8;
}

.tooltip{
    background: #BDC3C7;
    box-shadow: 5px 5px 10px #202020;
}

.project{
    display: inline-block;
}

.project-info{
    display: inline-block;
    width: 60%;
}

.project-image-div{
    display: inline-block;
    padding-left: 8%;
    width:31%;
}

.project-image-div img{    
    background-color: transparent;
    border: 1px solid #202020;
    box-shadow: 5px 5px 10px #202020;   
    transition: 0.3s; 
}

.project-image-div:hover{
    transform: none;
}

.project-image-div img:hover{
    transform: scale(1.1); 
}

.link-to-live-ver{
    border: 1px solid #2C3E50;
    color: #2C3E50;
    box-shadow: 5px 5px 10px #202020;
}

#modal-close-button, #modal-image-caption{
    color: #BDC3C7;
}

#image-code{
    min-height: 50rem;
    background-attachment: local;
    background-position: center;
}

#image-austin{
    min-height: 40rem;
    background-attachment: local;
}

.social-media a, .social-media a i{
    color:#2C3E50;
}

.social-media{
    background-color: #BDC3C7; 
}

.social-media:hover{
    background-color: #21C2F8;
}

footer{
    background-color: #2C3E50;
    color: #F3F7F8;
}
