:root{
    --main-color-1: #21C2F8;
    --main-color-2: #2C3E50;
    --black-color: #202020;
    --grey-color-1: #BDC3C7;
    --grey-color-2: #F3F7F8;
    scroll-behavior: smooth;
}

@keyframes anim-grow{
    0%{
        width: 0%;
    }
    30%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes anim-shrink{
    0%{
        width: 100%;
    }
    50%{
        width: 0%;
    }
    100%{
        width: 0%;
    }
}

@keyframes anim-fade-in{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}


@keyframes anim-blink{
    0%{
        background: none;
    }
    49%{
        background: none;
    }
    50%{
        background: var(--grey-color-2);
    }
}


img, embed, object, video{
    max-width: 100%;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--grey-color-2);
    color: var(--main-color-2);
    font-family: 'Montserrat', sans-serif;
    
}

header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--main-color-1);
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0.2rem var(--grey-color-1);
}

#brand{
    width: 90%;   
    padding: 1rem;
    margin-left: 1rem;
    color: var(--grey-color-2);
    text-shadow: 2px 2px 5px var(--black-color);
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: 1.4rem;
}

#hamburger-menu{
    text-align: right;  
    width: 10%; 
    padding-right: 1rem;  
}

#hamburger-menu-btn{
    border: 2px solid var(--grey-color-2);
    border-radius: 0.2rem;
    background-color: transparent;
    color: var(--grey-color-2);
    padding: 0.3rem;
    outline: none;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.2);
    
}

#hamburger-menu-btn i{
    line-height: 1rem;
}

#hamburger-menu-btn:active{
    box-shadow: none;
    transform: translate(1px, 1px);
}



#top-nav{    
    font-family: 'Audiowide', cursive;
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

nav>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#top-nav li{
    display: inline-block;
}
#top-nav li a{    
    display: inline-block;
    margin: 0.5rem;
    color: var(--grey-color-2);
    text-shadow: 1px 1px 2px var(--black-color);
    text-decoration: none;
}

#top-nav li a:hover{
    cursor: pointer;
    text-shadow: 0 0 5px var(--grey-color-2);
}



.top-nav-active:after{
    display:block;
    content: '';
    animation: anim-grow 1s ease-in-out 1;
    border-bottom: 0.2rem solid var(--grey-color-2);
    margin-left: auto;
    margin-right: auto;
}

.top-nav-active:active:after{
    animation: anim-shrink 1s 1 ; 
    width: 0;
}

#off-canvas-nav{
    font-family: 'Audiowide', cursive;
    position: fixed;
    left: -255px;
    width: 250px;
    background: var(--main-color-1);    
    opacity: 0.987;
    box-shadow: 1px 2px 1px 1px var(--grey-color-1);
    transition: 0.5s;
    font-size: 1.3rem;
}


#off-canvas-nav a{
    color: var(--main-color-2);
    text-decoration: none;
}

#off-canvas-nav li{
    background: var(--grey-color-2);
    padding: 1rem 1.5rem;
    margin: 0.3rem;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 61%, 79% 100%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0, 100% 61%, 79% 100%, 0 100%);
    border-radius: 0.2rem;
    box-shadow:  13px 17px 88px -21px var(--main-color-1) inset;
}

#off-canvas-nav i{
    width: 2rem;
}

#off-canvas-nav li:hover{
    background: linear-gradient(var(--grey-color-1)-20%, var(--grey-color-2)50%, var(--grey-color-1) 120%);
}


.open-menu{
    transform: translate(255px, 0);
}


h1{
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

#about{
    background: var(--black-color);
    color: var(--grey-color-2);
    min-height: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0.2rem 0.1rem var(--black-color);
}

#headshot-container{
    padding: 1rem;
    text-align: right;
    width: 30%;
}

#headshot-img{
    border-radius: 50%;
    max-height: 10rem;
    box-shadow: 0 0 0.1rem 0.2rem var(--grey-color-1);
    animation: anim-fade-in 5s ease-in 1;
}

#terminal{
    padding: 2rem 1rem;
    min-height: 10rem;
    min-width: 50%;
    width: 70%;
}


#typed-terminal{
    display: inline;
    line-height: 1.6;
    font-family: Consolas, Courier, monospace;
    
}

#blinking-cursor{
    display: inline-block;
    width: 0.5rem;
    height: 0.8rem;
    background: white;
    margin-left: -0.1rem;
    animation: anim-blink 1.1s steps(2) infinite;
}

.hidden{
    visibility: hidden;
}

#image-laptop{
    min-height: 20rem;
    background: url("../Assets/laptop.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -10;
}

.overlay-1:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--main-color-1);
    opacity: 0.5;
}


.overlay-2:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--main-color-1) 10% , var(--grey-color-1) 66%, var(--grey-color-2) 120%); 
    opacity: 0.3;
}

#section-skills{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#section-skills > h1, #section-projects > h1, #section-education > h1{
    margin: 2rem;
}

#skills-badges{
    text-align: center;
}

.badge-container{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 100%;
}

#section-projects{
    margin-bottom: 3rem;
}

#projects-container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.project{
    display: flex;
    flex-wrap: wrap;
}


.project-title{
    width: 100%;
}

.project-info{
    min-width: 50%;
}

.tech-used{
    margin: 1rem;
    text-align: center;
}

.tech-icon{
    height: 3rem;
}

.link-to-live-ver-container{
    width: 100%;
}

.link-to-live-ver{
    display: block;
    margin: 1.5rem auto;
    border: 1px solid var(--main-color-2);
    padding: 1rem;
    color: var(--main-color-2);
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 5px 5px 10px var(--black-color);
    transition: transform 0.3s;
}

.link-to-live-ver:hover{
    transform: scale(1.1);
}

.project-image{
    width: 10rem;
    height: 10rem;
    margin: 1rem auto 2rem auto;
    border: 1px solid var(--black-color);
    box-shadow: 5px 5px 10px var(--black-color);
    transition: transform 0.3s;
}

.project-image img{
    object-fit: cover;
    width: 10rem;
    height: 10rem;
}

.project-image:hover {
    transform: scale(1.1); 
}



#image-code{
    min-height: 20rem;
    background: url("../Assets/code.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -10;
}

#section-education{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

#section-education ul{
    margin: 0.3rem;
    
}

.education-unit h2{
    margin-left: 10%;
    margin-right: 5%;
}


.education-unit{
    display: flex;
    margin-bottom: 2rem;
}

.education-unit-left{
    width: 25%;
    text-align: right;
}

.education-unit-right{
    width: 70%;
    margin-left: 2rem;
}


.college-logo{
    height: 5rem;
    width: 5rem;
    
}


#image-austin{
    min-height: 20rem;
    background: url("../Assets/austin1.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -10;
}

#social-media-container{
    padding: 1rem;
    text-align: center;
    
}

.social-media a, .social-media a i{
    color: var(--main-color-2);
}

.social-media{
    display: inline-block;
    padding: 0.3rem;
    margin: 0.2rem;
    font-size: 1.5rem;
    min-width: 2rem;
    min-height: 2rem;
    text-align: center;
    line-height: 1.5;
    border-radius: 100%;
    background-color: var(--grey-color-1);
    transition: 0.2s;
}

.social-media:hover{
    cursor: pointer;
    background-color: var(--main-color-1);
    transform: scale(1.1);
}

footer{
    background-color: var(--main-color-2);
    color: var(--grey-color-2);
    text-align: center;
}

@media (min-width: 540px){
    #section-skills{
        width: 88%;
    }
    .project-info{
        width: 60%;
    }
}

@media (min-width: 700px){
    #terminal{
        width: auto;
    }
    #hamburger-menu{
        display: none;
    }

    #off-canvas-nav{
        display: none;
    }

    header{
        display: block;
    }

    #brand{
        width: auto;
        display: block;
        padding: 1rem 0 0 0.5rem;
    }
    #top-nav{
        display: block;
    }
}

@media (min-width: 900px){
    header{
        display: flex;
    }
    #brand{
        padding: 1rem;
    }
    #top-nav{        
        margin-right: 1.5rem;
    }
    .education-unit-left{
        width: 20%;
    }

    #projects-container, #section-skills, #section-education{
        width: 80%;
        max-width: 900px;
    }

}

@media (min-width: 1000px){
    header{        
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
    }
}

